@import url("https://unpkg.com/normalize.css@8.0.0/normalize.css");
@import url("https://fonts.googleapis.com/css?family=Abel");
@font-face {
  font-family: "YouthAndBeauty";
  src: url("./fonts/youth-and-beauty.ttf") format("truetype"),
    url("./fonts/youth-and-beauty.otf") format("opentype");
}

html,
body {
  width: 100%;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fde73c;
  font-family: "Abel", sans-serif;
}

@media (min-width: 750px) {
  body {
    font-size: 2rem;
  }
}

.container {
  width: 100%;
}

.card {
  background-color: rgba(255, 254, 244, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 6px rgba(0.2, 0.2, 0.2, 0.2);
  position: relative;
  margin-bottom: 1rem;
}

@media (min-width: 750px) {
  .card {
    margin: 1rem;
    height: calc(100vh - 2rem);
  }
}

.more {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  z-index: 10;
  width: 1rem;
  height: 1rem;
  bottom: 1rem;
  transform: rotate(45deg);
  border: solid #fac500;
  border-width: 0px 1px 1px 0px;
}

.more::before {
  content: "";
  display: block;
  position: relative;
  z-index: 10;
  width: 1rem;
  height: 1rem;
  bottom: 1rem;
  border: solid #fac500;
  border-width: 0px 1px 1px 0px;
  left: -5px;
  top: -6px;
}

.card::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(./imgs/sunflowers.png);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  z-index: -2;
}

.card:nth-child(1)::before,
.card:nth-child(4)::before,
.card:nth-child(7)::before {
  background-position: 0 100%;
}

.card:nth-child(3)::before,
.card:nth-child(6)::before .card:nth-child(9)::before {
  background-position: 100% 100%;
}

.title {
  font-family: "YouthAndBeauty", cursive, serif;
  font-size: 4rem;
  color: #428c27;
  margin-bottom: 0.5rem;
  font-weight: normal;
  text-shadow: 1px 1px 3px rgba(100, 100, 100, 0.4);
}

section .title {
  font-size: 2rem;
}

@media (min-width: 750px) {
  section .title {
    font-size: 3rem;
  }
}

.and {
  color: #fac500;
  font-size: 1.3em;
}

.date {
  font-size: 1.5rem;
  color: #213f24;
  margin-top: 0;
}

nav {
  padding-bottom: 1rem;
}

nav a {
  text-decoration: none;
  color: #213f24;
  font-family: "YouthAndBeauty", cursive, serif;
  font-size: 1rem;
  margin: 0.5rem;
}

@media (min-width: 750px) {
  nav a {
    font-size: 2rem;
  }
}

nav a:hover {
  color: #fac500;
}

section {
  padding: 2rem;
  text-align: center;
  line-height: 1.4;
  max-width: 750px;
}

@media (min-width: 550px) {
  section {
    padding: 3rem;
  }

  .toasters {
    display: flex;
  }

  .toast1,
  .toast2 {
    flex: 1;
    flex-basis: 50%;
    width: 50%;
  }
  .toast1 {
    text-align: right;
    padding-right: 1rem;
    border-right: 3px solid gray;
    height: 100%;
  }

  .toast2 {
    padding-left: 1rem;
    text-align: left;
  }
}

.estate-img {
  max-height: 30vh;
}

.to-top {
  font-size: 0.8rem;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.schedule {
  text-align: left;
  position: relative;
  display: table-row;
  /* padding-bottom: 1rem; */
}

.schedule .time {
  display: table-cell;
  height: 100%;
  font-weight: bold;
  /* float: left; */
  /* margin-right: .5em; */
  padding-right: 0.5rem;
  padding-top: 0.5rem;
}

.tag {
  font-weight: bold;
}

.img-couple {
  max-width: 80%;
}

@media (min-width: 450px) {
  .img-couple {
    max-width: 40%;
  }
}

@media (min-width: 750px) {
  .img-couple {
    margin-bottom: -2rem;
  }
}

.social .title {
  margin-top: 0;
}
