@font-face {
  font-family: "YouthAndBeauty";
  src: url("./fonts/youth-and-beauty.ttf") format("truetype"),
    url("./fonts/youth-and-beauty.otf") format("opentype");
}

body {
  margin: 0;
  padding: 0;
  background-color: #fde73c;
}

.container {
  width: 100%;
  margin: 2rem;
}

.main {
  background-color: rgba(255, 254, 244, 0.9);

  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 4rem);
  box-shadow: 1px 1px 6px rgba(0.2, 0.2, 0.2, 0.2);
  /* background-blend-mode: hue; */
  position: relative;
}

.main::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(./imgs/sunflowers.png);
  background-repeat: no-repeat;
  background-position: 0% 100%;
  z-index: -1;
}

.header {
  font-family: YouthAndBeauty, cursive, serif;
  font-size: 4rem;
  color: #428c27;
  margin-bottom: 0.5rem;
  font-weight: normal;
  text-shadow: 1px 1px 3px rgba(100, 100, 100, 0.4);
}

.and {
  color: #f1cc37;
  font-size: 1.3em;
}

.date {
  font-size: 1.5rem;
  color: #415d36;
  margin-top: 0;
  font-family: courier;
}
